[user]
	name = Piotr Pasza Storożenko
	email = piotr.pasza.storozenko@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	line-numbers = true
	side-by-side = false
[alias]
	lg = log --oneline --graph --decorate --all
	st = status -s
[pull]
	rebase = false
